:root {
    font-size: 16px;
    --dark: #010101;
    --light:white;
    --gray: #989696;
    --main-font: 'Helvetica Neue LT Pro', sans-serif;
    --menu-font:'Roboto', sans-serif;
    --paragraph-font:'Merriweather', serif;
}

header {
    background-color: var(--light);
    padding: 1rem 0;
    text-align: center;
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;
}

.link a:hover {
    color: var(--dark);
}

.link a{
    text-decoration: none;
    color: var(--gray);
    padding: 0.5rem 0.5rem;
    margin: 0 0.7rem;
    font-size: 0.8rem;
    font-family: var(--menu-font);
}

.link img {
    width: 3.4rem;
    height: 3.3rem;
    margin: 0 2rem;
}
